@model IEnumerable<eHospital.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center pt-3">List of all Blogs</h2>

<p class="ml-3">
    <a href="@Url.Action("Create","Blogs")" class="btn btn-success btn-lg">Create</a>
</p>
<table class="table table-striped">
    <tr class="table-dark">
        <th>
            @Html.DisplayNameFor(model => model.Admin.ADMIN_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blog_Category.CATEGORY_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BLOG_TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BLOG_PIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BLOG_DATE)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Admin.ADMIN_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blog_Category.CATEGORY_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BLOG_TITLE)
        </td>
      
        <td>
            <img width="60px" height="60px" src="@Url.Content(item.BLOG_PIC)" alt="Alternate Text" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BLOG_DATE)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id=item.BLOG_ID })" class="btn btn-sm btn-primary">Edit</a> |
            <a href="@Url.Action("Details", new { id=item.BLOG_ID })" class="btn btn-sm btn-success">Detail</a> |
            <a href="@Url.Action("Delete", new { id=item.BLOG_ID })" class="btn btn-sm btn-danger">Delete</a> 
            
        </td>
    </tr>
}

</table>
