@model eHospital.Models.Patient
@using eHospital.Models
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
    Model1 db = new Model1();
    Patient pat = db.Patients.FirstOrDefault();

    if (Session["Patient"] == null)
    {
        Response.Redirect("/Home/logIn");
    }
    else
    {
        pat = (Patient)Session["Patient"];
    }
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PATIENT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PATIENT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PATIENT_CONTACT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PATIENT_CONTACT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PATIENT_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PATIENT_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PATIENT_PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PATIENT_PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PATIENT_DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PATIENT_DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PATIENT_GENDER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PATIENT_GENDER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PATIENT_CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PATIENT_CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PATIENT_PIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PATIENT_PIC)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
