@model IEnumerable<eHospital.Models.Patient>
@using eHospital.Models;

@{
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
    ViewBag.Title = "Index";


    Model1 db = new Model1();
    Patient pat = db.Patients.FirstOrDefault();

    if (Session["Patient"] == null)
    {
        Response.Redirect("/Home/logIn");
    }
    else
    {
        pat = (Patient)Session["Patient"];
    }


}

<h2 class="text-center mt-3">Profile</h2>


<table class="table table-striped">
    <tr class="table-dark">
        <th>
             Patient Name
        </th>
        <th>
            Contact
        </th>
        <th>
            Email
        </th>
        <th>
            DOB
        </th>
        <th>
            Gender
        </th>
        <th>
            City
        </th>
        <th>
            Image
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PATIENT_NAME)
        </td>
        <td>
            @item.PATIENT_CONTACT.ToString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PATIENT_EMAIL)
        </td>
        <td>
            @item.PATIENT_DOB.ToLongDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PATIENT_GENDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PATIENT_CITY)
        </td>
        <td>
            <img width="60px" height="60px" src="@Url.Content(item.PATIENT_PIC)" alt="Alternate Text" />
        </td>
        <td>
            <a href="@Url.Action("Details", new { id = item.PATIENT_ID })" class="btn btn-primary">Detail</a> |
            <a href="@Url.Action("Edit", new { id = item.PATIENT_ID })" class="btn btn-success">Edit</a>

        </td>
    </tr>
}

</table>
