@model eHospital.Models.Feedback

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Appointment.TIME_SLOT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appointment.TIME_SLOT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RATING)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RATING)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEEDBACK1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEEDBACK1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FEEDBACK_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
