@model IEnumerable<eHospital.Models.Blog>
@using eHospital.Models;

@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    var db = new Model1();
    List<Blog_Category> cat = db.Blog_Category.ToList();
    List<Blog> blog = db.Blogs.ToList();

}

<!-- ***** Breadcumb Area Start ***** -->
<section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(/Content/Customer/img/bg-img/breadcumb2.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">News</h3>
                    <p>Latest News Blogs</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Breadcumb Area End ***** -->
<!-- ***** Blog Area Start ***** -->
<section class="medilife-blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <!-- Single Blog Area -->
                    @foreach (var b in Model)
                    {
                    <div class="col-12 col-md-6">
                        
                        <div class="single-blog-area bg-gray mb-50">
                            <!-- Post Thumbnail -->
                            <a href="@Url.Action("SingleBlog","Home", new { id = b.BLOG_ID })">
                                <div class="blog-post-thumbnail">
                                    <img src="@Url.Content(b.BLOG_PIC)" alt="">
                                    <!-- Post Date -->
                                    <div class="post-date">
                                        <a>@b.BLOG_DATE.ToLongDateString()</a>
                                    </div>
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-author">
                                        <a><img src="@Url.Content(b.Admin.ADMIN_PIC)" alt=""></a>
                                    </div>
                                    <a href="@Url.Action("SingleBlog","Home", new { id = b.BLOG_ID })" class="headline">@b.BLOG_TITLE</a>
                                    <a href="@Url.Action("SingleBlog","Home", new { id = b.BLOG_ID })" class="blog_paragraph">@b.BLOG_DISCRIPTION</a><br />
                                    <a href="#" class="comments">@b.Blog_Comment.Count() Comments</a>
                                </div>
                            </a>
                        </div>
                           
                        </div>
                    }

                 

                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="medilife-blog-sidebar-area">


                    <!-- Catagories Widget -->
                    <div class="medilife-catagories-card mb-50">
                        <h5>Categories</h5>
                        <ul class="catagories-menu">
                            @foreach (var c in cat)
                            {
                                <li><a href="@Url.Action("Blog","Home", new { id = c.CATEGORY_ID })">@c.CATEGORY_NAME</a></li>
                            }
                        </ul>
                    </div>

                    <!-- Latest News -->
                    <div class="latest-news-widget-area mb-50">
                        <h5>Latest News</h5>
                        <div class="widget-blog-post">
                            <!-- Single Blog Post -->
                            @foreach (var bl in blog)
                            {
                                <div class="widget-single-blog-post d-flex align-items-center">
                                    <div class="widget-post-thumbnail pr-3">
                                        <a href="@Url.Action("SingleBlog","Home", new { id = bl.BLOG_ID })"><img src="@Url.Content(bl.BLOG_PIC)" alt=""></a>
</div>
                                    <a href="@Url.Action("SingleBlog","Home", new { id = bl.BLOG_ID })">
                                        <div class="widget-post-content">
                                            <a href="@Url.Action("SingleBlog","Home", new { id = bl.BLOG_ID })"><b>@bl.BLOG_TITLE</b></a>
                                            <a href="@Url.Action("SingleBlog","Home", new { id = bl.BLOG_ID })">@bl.BLOG_DATE.ToLongDateString()</a>
</div>
                                    </a>
                                </div>
                            }


                        </div>
                    </div>

                    <!-- medilife Emergency Card -->
                    <div class="medilife-emergency-card bg-img bg-overlay" style="background-image: url(img/bg-img/about1.jpg);">
                        <i class="icon-smartphone"></i>
                        <h2>For Emergency calls</h2>
                        <h3>+12-823-611-8721</h3>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Pagination Area -->
                <div class="pagination-area mt-50">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">01</a></li>
                            <li class="page-item active"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Blog Area End ***** -->
