@using eHospital.Models;
@model eHospital.Models.Doctor
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    List<Doctor_Schedule> schedule = Model.Doctor_Schedule.Where(x => x.DR_FID == Model.DR_ID).ToList();
    Patient pat = (Patient)Session["Patient"];
    var current = DateTime.Today;
}

<!-- ***** Breadcumb Area Start ***** -->
<section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(/Content/Customer/img/bg-img/breadcumb2.jpg); height: 300px">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title text-center">Book an Appointment</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Breadcumb Area End ***** -->

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-3">
            <img src="@Url.Content(Model.DR_PIC)" alt="Alternate Text" style="height: 300px" />
            <table class="mt-4 table table-striped border">
                <tr>
                    <th>Doctor Name:</th>
                    <th>@Model.DR_NAME</th>
                </tr>
                <tr>
                    <th>Qualification:</th>
                    <th>@Model.DR_QUALIFICATION</th>
                </tr>
                <tr>
                    <th>Fee:</th>
                    <th>@Model.DR_FEE</th>
                </tr>
                <tr>
                    <th>Department:</th>
                    <th>@Model.Department.DEPARTMENT_NAME</th>
                </tr>
            </table>

        </div>
        <div class="col-md-9">
            <h3>@Model.DR_NAME's Schedule</h3>
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Day (yyyy-mm-dd)</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Maximum No</th>
                        <th>Available No</th>
                        <th>Time Slot</th>
                        <th>Book</th>
                    </tr>
                </thead>
                @foreach (var sch in schedule)
                {
                    using (Html.BeginForm("Create", "Appointments", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <tr>
                            <td>@sch.AVAILABLE_DAYS</td>
                            <td>@sch.START_TIME</td>
                            <td>@sch.END_TIME</td>
                            <td>@sch.MAX_APPOINTMENTS</td>
                            <td>@sch.MAX_APPOINTMENTS</td>
                            <td>
                                <input type="hidden" name="APPOINTMENT_DATE" value="@sch.AVAILABLE_DAYS" />
                                <input type="hidden" name="SCHEDULE_FID" value="@sch.SCHEDULE_ID" />
                                <select style="width: 100%" name="TIME_SLOT">
                                    <option value="1:00 - 2:00 PM">1:00 - 2:00 PM</option>
                                    <option value="2:00 - 3:00 PM">2:00 - 3:00 PM</option>
                                    <option value="4:00 - 5:00 PM">4:00 - 5:00 PM</option>

                                </select>
                            </td>
                            <td>
                                @if (pat != null)
                                {
                                    <Input type="submit" value="Reserve" class="btn btn-success btn-md" />

                                }
                                else
                                {
                                    <p class="alert-danger text-center">login for Book An Appointment</p>
                                }

                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>


