@using eHospital.Models;
@model eHospital.Models.Doctor

@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    List<Doctor_Schedule> schedule = Model.Doctor_Schedule.Where(x => x.DR_FID == Model.DR_ID).ToList();
    Patient pat = (Patient)Session["Patient"];
    var current = DateTime.Today;
    Model1 db = new Model1();
    List<Feedback> review = db.Feedbacks.Where(x => x.Appointment.Doctor_Schedule.Doctor.DR_ID == Model.DR_ID).ToList();
}
@functions{
    //public string splitTime(string StartTime, string EndTime, int Duration = 60)
    //{
    //    List<string> ReturnArray = new List<string>();
    //    var startTime = DateTime.Parse(StartTime);
    //    var endTime = DateTime.Parse(EndTime);

    //    var AddMins = Duration * 60;

    //    while (startTime <= endTime)
    //    {
    //        ReturnArray = DateTime.Parse("G:i", startTime);
    //        startTime += AddMins;
    //    }

    //    return ReturnArray;
    //}




}
<!-- ***** Breadcumb Area Start ***** -->
<section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(/Content/Customer/img/bg-img/breadcumb2.jpg); height: 300px">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title text-center">Book an Appointment</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Breadcumb Area End ***** -->

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-3">
            <img src="@Url.Content(Model.DR_PIC)" alt="Alternate Text" style="height: 300px" />
            <table class="mt-4 table table-striped border">
                <tr>
                    <th>Doctor Name:</th>
                    <th>@Model.DR_NAME</th>
                </tr>
                <tr>
                    <th>Qualification:</th>
                    <th>@Model.DR_QUALIFICATION</th>
                </tr>
                <tr>
                    <th>Fee:</th>
                    <th>@Model.DR_FEE</th>
                </tr>
                <tr>
                    <th>Department:</th>
                    <th>@Model.Department.DEPARTMENT_NAME</th>
                </tr>
            </table>

        </div>
        <div class="col-md-9">
            <h3>@Model.DR_NAME's Schedule</h3>
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Day (yyyy-mm-dd)</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Maximum No</th>
                        <th>Available No</th>
                        <th>Action</th>
                    </tr>
                </thead>
                @foreach (var sch in schedule)
                {
                    DateTime localDate = DateTime.Now.Date;
                    DateTime scheduleDate = Convert.ToDateTime(@sch.AVAILABLE_DAYS);
                    int result = DateTime.Compare(localDate, scheduleDate);

                    //using (Html.BeginForm("Create", "Appointments", FormMethod.Post))


                    if (result <= 0)
                    {
                        decimal remaningNo = @sch.MAX_APPOINTMENTS - @sch.Appointments.Count();
                            <tr>
                                <td>@sch.AVAILABLE_DAYS</td>
                                <td>@sch.START_TIME</td>
                                <td>@sch.END_TIME</td>
                                <td>@sch.MAX_APPOINTMENTS</td>
                                <td>@remaningNo</td>
                                <td>
                                    @if (pat != null)
                                    {
                                        <a href="@Url.Action("checkout","Home", new { id= sch.SCHEDULE_ID })" class="btn btn-success">Book Now</a>
                                    }
                                    else
                                    {
                                       <p>Login for book and appointment</p>
                                    }

                                </td>
                            </tr>
                        }


                }

            </table>
        </div>
    </div>

    <!-- ***** reviews area stats here ***** -->
    <div class="row mt-5">
        <div class="offset-3"></div>
        <div class="col-md-6">
            <h3 class="text-center">@Model.DR_NAME's Reviews</h3>
        </div>
        <div class="offset-3"></div>
    </div>
    <div class="row">
        <div class="offset-2"></div>
        <div class="col-md-8">
            <table class="table table-hover">
                @foreach (var feedback in review)
                {
                    <tr>
                        <th>
                            <div class="media">
                                <div class="media-left">
                                    <img src="@Url.Content(feedback.Appointment.Patient.PATIENT_PIC)" class="media-object img-circle img-rounded" style="width:60px">
                                </div>
                                <div class="media-body pl-3">
                                    <h4 class="media-heading"></h4>
                                    @{
                                        int num = (int)feedback.RATING;
                                    }
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (num > i)
                                        {
                                            <span class="fa fa-star checked"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-star"></span>
                                        }

                                    }
                                    <p><i>@feedback.FEEDBACK1</i></p>
                                </div>
                            </div>
                        </th>
                    </tr>
                }
            </table>
        </div>
        <div class="offset-2"></div>
    </div>
   
    <!-- ***** reviews area ends here ***** -->
</div>


