@{Layout = "~/Views/Shared/_LayoutDoctor.cshtml"; }
@using eHospital.Models
@{

    Model1 db = new Model1();
    Doctor doctor = db.Doctors.FirstOrDefault();

    if (Session["Doctor"] == null)
    {
        Response.Redirect("/Home/logIn");
    }
    else
    {
        doctor = (Doctor)Session["Doctor"];
    }
}

@{

    int reviews = db.Feedbacks.Where(x => x.Appointment.Doctor_Schedule.Doctor.DR_ID == doctor.DR_ID).Count();
    int checkedPatient = db.Appointments.Where(x => x.Doctor_Schedule.Doctor.DR_ID == doctor.DR_ID && x.STATUS == "COMPLETED").Count();
    int donors = db.Blood_Doners.Where(x => x.DONER_STATUS == "Approved").Count();
    List<Feedback> feedback = db.Feedbacks.Where(x => x.Appointment.Doctor_Schedule.Doctor.DR_ID == doctor.DR_ID).ToList();
}

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="row">
                    <!-- Material statustic card start -->
                    <div class="col-xl-8 col-md-12">
                        <div class="card table-card">
                            <div class="card-header">
                                <h5>Reviews (@reviews)</h5>
                            </div>
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table table-hover m-b-0 without-header">
                                        <tbody>
                                            @foreach (var review in feedback)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="d-inline-block align-middle">
                                                            <img src="@Url.Content(review.Appointment.Patient.PATIENT_PIC)" alt="user image" class="img-radius img-40 align-top m-r-15">
                                                            <div class="d-inline-block">
                                                                <h6>@review.Appointment.Patient.PATIENT_NAME</h6>
                                                                <p class="text-muted m-b-0">@review.FEEDBACK1</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">
                                                        @{
                                                            int num = (int)review.RATING;
                                                        }


                                                        @for (int i = 0; i < 5; i++)
                                                        {
                                                            if (num > i)
                                                            {
                                                                <span class="fa fa-star checked"></span>
                                                            }
                                                            else
                                                            {
                                                                <span class="fa fa-star"></span>
                                                            }

                                                        }

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-12">
                        <div class="card mat-clr-stat-card text-white green ">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-3 text-center bg-c-green">
                                        <i class="fas fa-star mat-icon f-24"></i>
                                    </div>
                                    <div class="col-9 cst-cont">
                                        <h5>@reviews</h5>
                                        <p class="m-b-0">Ratings Received</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mat-clr-stat-card text-white blue">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-3 text-center bg-c-blue">
                                        <i class="fas fa-trophy mat-icon f-24"></i>
                                    </div>
                                    <div class="col-9 cst-cont">
                                        <h5>@checkedPatient</h5>
                                        <p class="m-b-0">Patients Checked</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card text-center order-visitor-card">
                            <div class="card-block">
                                <h6 class="m-b-0">Registered Blood Donors</h6>
                                <h4 class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-green"></i>@donors</h4>
                            </div>
                        </div>

                    </div>


                </div>


            </div>
            <!-- Page-body end -->
        </div>
    </div>
</div>

