@using eHospital.Models
@{ 
    Model1 db = new Model1();
    List<Patient> patients = db.Patients.Where(x => x.PATIENT_ID != null).ToList();
    List<Doctor> doctors = db.Doctors.Where(x => x.DR_ID != null).ToList();
    List<Blood_Doners> donors = db.Blood_Doners.Where(x => x.DONER_STATUS == "Approved").ToList();
    List<Blood_Doners> donor = db.Blood_Doners.Where(x => x.DONER_STATUS == "Pending").ToList();
    List<Blood_Donation> donation = db.Blood_Donation.Where(x => x.DONATION_ID != null).ToList();
    List<Department> departments = db.Departments.Where(x => x.DEPARTMENT_ID != null).ToList();
    List<Blog> blogs = db.Blogs.Where(x => x.BLOG_ID != null).ToList();
    List<Blog_Comment> comments = db.Blog_Comment.Where(X => X.COMMENT_ID != null).ToList();
    List<Feedback> feedbacks = db.Feedbacks.Where(x => x.FEEDBACK_ID != null).ToList();
}
<main class="content">
    <div class="container-fluid p-0">

        <div class="row mb-2 mb-xl-3">
            <div class="col-auto d-none d-sm-block">
                <h3><strong>Analytics</strong> Dashboard</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Registered Patients</h5>
                        <h1 class="mt-1 mb-3">@patients.Count()</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Approved Blood Donors</h5>
                        <h1 class="mt-1 mb-3">@donors.Count()</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Registered Doctors</h5>
                        <h1 class="mt-1 mb-3">@doctors.Count()</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Unvarified Blood Donors</h5>
                        <h1 class="mt-1 mb-3">@donor.Count()</h1>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Departments</h5>
                        <h1 class="mt-1 mb-3">@departments.Count()</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Published Blogs</h5>
                        <h1 class="mt-1 mb-3">@blogs.Count()</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Blog Comments</h5>
                        <h1 class="mt-1 mb-3">@comments.Count()</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Total Reviews</h5>
                        <h1 class="mt-1 mb-3">@feedbacks.Count()</h1>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card flex-fill">
                    <div class="card-header">

                        <h5 class="card-title mb-0">Blood Donations</h5>
                    </div>
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Patient Name</th>
                                <th>Patient Cell</th>
                                <th>Patient Gender</th>
                                <th>Donor Name</th>
                                <th>Blood Group</th>
                                <th>Donor Cell</th>
                                <th>Suggested By</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var donations in donation)
                            {
                                <tr>
                                    <td><img src="@Url.Content(donations.Appointment.Patient.PATIENT_PIC)" alt="Alternate Text" width="50px" height="50px" /></td>
                                    <td>@donations.Appointment.Patient.PATIENT_NAME</td>
                                    <td class="d-none d-xl-table-cell">@donations.Appointment.Patient.PATIENT_CONTACT</td>
                                    <td class="d-none d-xl-table-cell">@donations.Appointment.Patient.PATIENT_GENDER</td>
                                    <td><span class="badge bg-success">@donations.Blood_Doners.DONER_NAME</span></td>
                                    <td class="d-none d-md-table-cell">@donations.Blood_Doners.BLOOD_GROUP</td>
                                    <td class="d-none d-md-table-cell">@donations.Blood_Doners.DONER_CONTACT</td>
                                    <td class="d-none d-md-table-cell">@donations.Appointment.Doctor_Schedule.Doctor.DR_NAME</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>