@model eHospital.Models.Blog
@using eHospital.Models;
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    Model1 db = new Model1();
    List<Blog_Category> Cat = db.Blog_Category.ToList();
    List<Blog> blog = db.Blogs.ToList();
    List<Blog_Comment> comment = db.Blog_Comment.ToList();
}
<!-- ***** Breadcumb Area Start ***** -->
<section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(/Content/Customer/img/bg-img/breadcumb2.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">News</h3>
                    <p>Lates News</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Breadcumb Area End ***** -->
<!-- ***** Blog Area Start ***** -->
<section class="medilife-blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">

                <div class="single-blog-area">
                    <!-- Post Thumbnail -->
                    <div class="blog-post-thumbnail">
                        <img src="@Url.Content(Model.BLOG_PIC)" alt="">
                        <!-- Post Date -->
                        <div class="post-date">
                            <a href="#">@Model.BLOG_DATE.ToLongDateString()</a>
                        </div>
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <div class="post-author">
                            <a href="#"><img src="@Url.Content(Model.Admin.ADMIN_PIC)" alt=""></a>
                        </div>
                        <a href="#" class="headline mb-0">@Model.BLOG_TITLE </a>
                        <div class="post-meta">
                            <a href="#" class="post-author-name">by @Model.Admin.ADMIN_NAME</a> | <a href="#" class="post-catagory">@Model.Blog_Category.CATEGORY_NAME</a>
                        </div>
                        <p>@Model.BLOG_DISCRIPTION</p>
                    </div>
                   
                </div>



                <div class="comments-area">
                    <h5>Comments (@comment.Count())</h5>
                    <ol>
                        <!-- Single Comment Area -->
                        @foreach ( var c in comment)
                        {
                            <li class="single_comment_area">
                                <div class="comment-wrapper d-flex">
                                    <!-- Comment Meta -->
                                    <div class="comment-author">
                                        <img src="~/Content/Customer/img/blog-img/placeholder.png" alt="">
                                    </div>
                                    <!-- Comment Content -->
                                    <div class="comment-content">
                                        <div class="comment-meta">
                                            <a href="#" class="comment-author-name">@c.COMMENT_NAME</a> |
                                            <a href="#" class="comment-date">@c.BLOG_DATE.ToLongDateString()</a> 
                                        </div>
                                        <p>@c.COMMENT_MESSAGE</p>
                                    </div>
                                </div>
                            </li>
                        }

                    </ol>
                </div>

                <!-- Leave A Comment -->
                <div class="leave-comment-area clearfix">
                    <div class="comment-form">
                        <h5>Leave a reply</h5>

                        <!-- Comment Form -->
                        @using (Html.BeginForm("Create", "Blog_Comment", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <input type="text" class="form-control" id="contact-name" name="COMMENT_NAME" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="contact-email" name="COMMENT_EMAIL" placeholder="Email">
                                <input type="hidden" name="BLOG_FID" value="@Model.BLOG_ID" />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="message" name="COMMENT_MESSAGE" cols="30" rows="10" placeholder="Message"></textarea>
                            </div>
                           
                            <button type="submit" class="btn medilife-btn">Post Comment <span>+</span></button>
                        }

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="medilife-blog-sidebar-area">



                    <!-- Catagories Widget -->
                    <div class="medilife-catagories-card mb-50">
                        <h5>Categories</h5>
                        <ul class="catagories-menu">
                            @foreach (var c in Cat)
                            {
                                <li><a href="@Url.Action("Blog", "Home", new { id = c.CATEGORY_ID })">@c.CATEGORY_NAME</a></li>
                                }

                        </ul>
                    </div>

                    <!-- Latest News -->
                    <div class="latest-news-widget-area mb-50">
                        <h5>Latest News</h5>
                        <div class="widget-blog-post">
                            <!-- Single Blog Post -->
                            @foreach (var b in blog)
                            {
                                <div class="widget-single-blog-post d-flex align-items-center">
                                    <div class="widget-post-thumbnail pr-3">
                                        <a href="@Url.Action("SingleBlog","Home", new { id = b.BLOG_ID })"><img src="@Url.Content(b.BLOG_PIC)" alt=""></a>
                                    </div>
                                    <a href="@Url.Action("SingleBlog","Home", new { id = b.BLOG_ID })">
                                        <div class="widget-post-content">
                                            <a href="@Url.Action("SingleBlog","Home", new { id = b.BLOG_ID })"><b>@b.BLOG_TITLE</b></a>
                                            <a href="@Url.Action("SingleBlog","Home", new { id = b.BLOG_ID })">@b.BLOG_DATE.ToLongDateString()</a>
                                        </div>
                                    </a>
                                </div>
                            }

                        </div>
                    </div>

                    <!-- medilife Emergency Card -->
                    <div class="medilife-emergency-card bg-img bg-overlay" style="background-image: url(/Content/Customer/img/bg-img/about1.jpg);">
                        <i class="icon-smartphone"></i>
                        <h2>For Emergency calls</h2>
                        <h3>+12-823-611-8721</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Blog Area End ***** -->
