@model IEnumerable<eHospital.Models.Blood_Doners>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Admin.ADMIN_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONER_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONER_CONTACT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONER_DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BLOOD_GROUP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONER_GENDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONER_CITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONER_STATUS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Admin.ADMIN_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONER_EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONER_CONTACT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONER_DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BLOOD_GROUP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONER_GENDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONER_CITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONER_STATUS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DONER_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DONER_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DONER_ID })
        </td>
    </tr>
}

</table>
