@model IEnumerable<eHospital.Models.Blood_Doners>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center my-3">Unvarified Blood Donors</h2>
<table class="table table-hover table-striped">
    <tr class="table-dark">
        <th>
            Donor Name
        </th>
        <th>
            Email
        </th>
        <th>
            Contact 
        </th>
        <th>
            DOB
        </th>
        <th>
            Group
        </th>
        <th>
            Gender
        </th>
        <th>
            City
        </th>
        <th>
            Status
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.DONER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONER_EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONER_CONTACT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONER_DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BLOOD_GROUP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONER_GENDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONER_CITY)
        </td>
        <td>
            <span class="bg-warning text-white p-1">
                @Html.DisplayFor(modelItem => item.DONER_STATUS)
            </span>
        </td>
        <td>
            <a href="@Url.Action("Approve", new { id= item.DONER_ID })" class="btn btn-success">Approve</a> |
            <a href="@Url.Action("Delete", new { id= item.DONER_ID })" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}

</table>
