@model IEnumerable<eHospital.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center mt-3">Departments</h2>

<p class="ml-3">
    <a class="btn btn-lg btn-success" href="@Url.Action("Create")">Create New Account</a>
</p>
<table class="table table-striped table-hover">
    <tr class="table-dark">
        <th>
            Department
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTMENT_NAME)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id= item.DEPARTMENT_ID })" class="btn btn-primary">Edit</a> |
            <a href="@Url.Action("Details", new { id= item.DEPARTMENT_ID })" class="btn btn-success">Detail</a> |
            <a href="@Url.Action("Delete", new { id= item.DEPARTMENT_ID })" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}

</table>
