@model IEnumerable<eHospital.Models.Blog_Comment>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center pt-3">Blog Comments</h2>


<table class="table table-striped table-hover">
    <tr class="table-dark">
        <th>
            Date
        </th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Comment
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BLOG_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMMENT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMMENT_EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMMENT_MESSAGE)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.COMMENT_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COMMENT_ID })
        </td>
    </tr>
}

</table>
