@model eHospital.Models.Doctor_Schedule
@using eHospital.Models

@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
    ViewBag.Title = "Create";
    Model1 db = new Model1();
    Doctor doc = db.Doctors.FirstOrDefault();

    if (Session["Doctor"] == null)
    {
        Response.Redirect("/Home/logIn");
    }
    else
    {
        doc = (Doctor)Session["Doctor"];
    }

}
    <div class="mt-4 ml-4">
        <h2>Create a New Schedule</h2>


        @using (Html.BeginForm())
        {
            if (doc != null)
            {
                @Html.AntiForgeryToken()
            }


            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="hidden" name="DR_FID" value="@doc.DR_ID" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AVAILABLE_DAYS, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="date" name="AVAILABLE_DAYS" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.START_TIME, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="time" name="START_TIME" min="09:00" max="22:00" value="" required />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.END_TIME, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="time" name="END_TIME" min="09:00" max="22:00" value="" required />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MAX_APPOINTMENTS, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <input type="number" name="MAX_APPOINTMENTS" max="40" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    <div>
        
        <a href="@Url.Action("Index")" class="btn btn-primary mt-3">All Schedule</a>
    </div>
    </div>
