@model eHospital.Models.Doctor_Schedule
@using eHospital.Models

@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
    ViewBag.Title = "Details";
    Model1 db = new Model1();
    Doctor doc = db.Doctors.FirstOrDefault();

    if (Session["Doctor"] == null)
    {
        Response.Redirect("/Home/logIn");
    }
    else
    {
        doc = (Doctor)Session["Doctor"];
    }

}

<h2>Details</h2>

<div>
    <h4>Doctor_Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doctor.DR_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.DR_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AVAILABLE_DAYS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AVAILABLE_DAYS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.START_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.START_TIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.END_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.END_TIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAX_APPOINTMENTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAX_APPOINTMENTS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SCHEDULE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
