@model IEnumerable<eHospital.Models.Doctor_Schedule>
@using eHospital.Models;
@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
    ViewBag.Title = "Index";
    Model1 db = new Model1();
    Doctor doc = db.Doctors.FirstOrDefault();

    if (Session["Doctor"] == null)
    {
        Response.Redirect("/Home/logIn");
    }
    else
    {
        doc = (Doctor)Session["Doctor"];
    }

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            DR Name
        </th>
        <th>
            Available Day
        </th>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
        <th>
            Max Appointments
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    DateTime currentDate = DateTime.Now.Date;
    DateTime scheduleDate = Convert.ToDateTime(@item.AVAILABLE_DAYS);
    int result = DateTime.Compare(currentDate, scheduleDate);
    if (result <= 0 && item.DR_FID == doc.DR_ID)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Doctor.DR_NAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AVAILABLE_DAYS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.START_TIME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.END_TIME)
    </td>
    <td>
        @item.MAX_APPOINTMENTS.ToString()
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.SCHEDULE_ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.SCHEDULE_ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.SCHEDULE_ID })
    </td>
</tr>
    }
    
}

</table>
