@model IEnumerable<eHospital.Models.Doctor>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center mt-3">Doctors List</h2>

<p class="ml-3">
    <a class="btn btn-lg btn-success" href="@Url.Action("Create")">Create New Account</a>
</p>
<table class="table table-striped table-hover">
    <tr class="table-dark">
        <th>
            Dept
        </th>
        <th>
            Name
        </th>
        <th>
            Salary
        </th>
        <th>
            Contact
        </th>
        <th>
            Email
        </th>

        <th>
            Image
        </th>
        <th>
            Fee
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DEPARTMENT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DR_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DR_SALARY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DR_CONTACT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DR_EMAIL)
        </td>
        <td>
            
             <img width="50px" height="50px" src="@Url.Content(item.DR_PIC)" alt="Alternate Text" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DR_FEE)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.DR_ID })" class="btn btn-primary">Edit</a>
            <a href="@Url.Action("Details", new { id = item.DR_ID })" class="btn btn-success">Detail</a>
            <a href="@Url.Action("Delete", new { id = item.DR_ID })" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}

</table>
